.App {
  text-align: center;
  height: 100vh;
  background-color: #282e33;
}

.nav-container {
  border-bottom: 2px solid #353c43;
}

nav {
  padding: 10px 15px;
  margin: 0 auto;
  display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
	max-width: 1200px;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.nav-ul {
  display: flex;
  column-gap: 40px;
	font-size: 16px;
}

.nav-ul-li {
  list-style: none;
}

.nav-ul-li-a {
  text-decoration: none;
  color: white;
}

.main-container {
  margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.projects {
  display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
  list-style: none;
  padding: 0;
}

.project {
  background-color: #353c43;
  border-radius: 10px;
  max-width: 200px;
}

img {
  width: 150px;
  border-radius: 10px;
}

.project-title {
  padding: 15px 0px 25px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.3;
}




h1, h2, h3, h4, h5, h6, p{
  color: white;
  margin: 0;
}

input {
  background-color: #2f343d;
  color: white;
}

::selection {
  background-color: #009687;
}